.section-text{
    text-align: center;
    color:#fff;
    font-size: 100%;
    background-color:#343a40;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    color: #343a40;
}

.nav-pills {
    background-color: #343a40 !important;    
}
.nav-pills > li >a{
    color: #fff !important;
}
.nav-pills > li > a.active {
    background-color: white!important;
    color: #343a40!important;
}

thead{
    background-color: #343a40;
    color: white;
}

 /* .project-card-img-top{
    height:50%;
    width: 50%;
    max-height: 600px;
    min-height: 400px;
    max-width: 800px;
    min-width: 200px;
 } */
 .card-header:not(.collapsed),.card-footer{
     /* background-color: #404040 !important; */
     background-color: #404040 !important;
     color:#ccffff !important;
 }

 .card-footer{
    background-color: #E0E0E0 !important;
    color:#660000 !important;
 }

 /* .person-name{
     color: #343a40;
 } */
/* .card-img-top{
    align-items: center !important;
} */
